.footer {
    margin-top: 128px;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    padding: 32px 0;
    width: 100%;
    background-color: var(--app-main-color);

    .footerCompany {
        padding: 0 8px;
    }
}