.navbarLinkContainer {
    width: 100%;

    a {
        display: block;
        width: 100%;
        color: var(--app-main-color);
        text-align: center;
        text-decoration: none;
        padding: 8px 0;
    }
    .selectedNavbarLink {
        background-color: white;
    }
}

