@import "../../../scss/media_queries.scss";

.navbarContainer {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--app-secondary-color);
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-bottom: var(--app-main-color) solid 1px;

    .navbarToggle {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .navbarLinks {
        width: 100%;
        display: none;

        &.open {
            display: inline;
        }

        @include mediumScreen {
            display: flex;
            flex-direction: row;
        }
    }

    @include mediumScreen {
        flex-direction: row;
        .navbarToggle {
            display: none;
        }
    }
}